{% extends "base.html" %}
{% load class_check_tag %}
{% load staticfiles %}

{% block title %}
	Index
{% endblock %}
	{% block identification %}
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">
			{% ifusergroup ProjectManager %}
				You are a Project Manager
			{% else %}
				{% ifusergroup SoftwareDeveloper %}
					You are a Software Developer
				{% else %}
					<!-- {% ifusergroup Admin %}
						Admin
					{% else %} -->
						Not Logged In!
					{% endifusergroup %}
				{% endifusergroup %}
			{% endifusergroup %}
			</h1>
		</div>
	{% endblock %}
	{% block dashboard %}
		{% include "dashboard.html" %}
	{% endblock %}
	{% block section %}
		{% include "section.html" %}
	{% endblock %}
{% block navbar %}
	{% include "navbar.html" %}
{% endblock %}
{% block sidebar %}
	{% include "sidebar.html" %}
{% endblock %}
