<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#">View Project Data</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="/create_project/">Create Project</a></li>
    <li><a href="/create_phase/">New Phase</a></li>
    <li><a href="/create_iteration/">New Iteration</a></li>
    <li><a href="/create_defectData/">Add Defect Data</a></li>
    <li><a href="/start_timer/">Start Timer</a></li>
  </ul>
</div>